---
# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.3.2.9023
    hooks:
      - id: style-files
        args:
          [--style_pkg=styler, --style_fun=tidyverse_style, --scope=line_breaks]
        exclude: >
          (?x)^(
          design/.*|
          tests/testthat/_snaps/.*|
          design/.*\.txt|
          README.md
          )$
      - id: roxygenize
        additional_dependencies:
          - checkmate
          - emmeans
          - TMB
          - pkgbuild
          - Rdpack
          - testthat
          - hardhat
      - id: use-tidy-description
      - id: spell-check
        exclude: >
          (?x)^(
          data/.*|
          design/.*|
          src/.*|
          (.*/|)DESCRIPTION|
          (.*/|)\.Rprofile|
          (.*/|)\.Renviron|
          (.*/|)\.gitignore|
          (.*/|)NAMESPACE|
          (.*/|)WORDLIST|
          (.*/|)LICENSE|
          (.*/|)\.Rbuildignore|
          (.*/|)\.lintr|
          (.*/|)_pkgdown.yml|
          (.*/|)staged_dependencies.yaml|
          (.*/|)\.pre-commit-.*|
          \.github/.*|
          .*\.[rR]|
          .*\.Rproj|
          .*\.py|
          .*\.feather|
          .*\.rds|
          .*\.Rds|
          .*\.sh|
          .*\.RData|
          .*\.png|
          .*\.orig|
          design/.*/.*\.txt
          )$
      - id: lintr
        exclude: >
          (?x)^(
          design/.*|
          vignettes/.*
          )$
        additional_dependencies:
          - checkmate
          - emmeans
          - TMB
          - Rdpack
          - testthat
          - hardhat
      - id: readme-rmd-rendered
      - id: parsable-R
      - id: no-browser-statement
      - id: deps-in-desc
        exclude: >
          (?x)^(
          design/.*
          )$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: >
          (?x)^(
          design/.*|
          tests/testthat/_snaps/.*|
          design/.*\.txt|
          README.md
          )$
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=200"]
      - id: end-of-file-fixer
        exclude: >
          (?x)^(
          .*\.Rd|
          tests/testthat/_snaps/.*
          )$
      - id: trailing-whitespace
        exclude: >
          (?x)^(
          .*\.Rd|
          tests/testthat/_snaps/.*|
          README.md
          )$
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.Rhistory|\.RData|\.Rds|\.rds$'
        # `exclude: <regex>` to allow committing specific files.
